@import "plugins/_loader";

// Default Colours
$color-Black: #000000;
$color-DarkGrey: #333;
$color-Grey: #CCCCCC;
$color-LightGrey: #cbcbcb;
$color-White: #FFFFFF;

// Dropzone uploader styles
.dropzone {
    padding: 0;
    border: 1px solid $color-LightGrey;
    min-height: auto;
    .droparea {
        width: 100%;
        padding: 20px;
        span {
            text-align: center;
            display: block;
            padding: 20px;
            border: 2px dashed $color-LightGrey;
            background-color: $color-White;
            @include border-radius(0px);
            @include transition(all .2s ease-out);
            a {
                color:$color-White;
				background-color:$color-DarkGrey;
                @include transition(color .5s ease-in-out, background-color .5s ease-in-out);
                cursor: pointer;
				display: inline-block;
				float: none;
            }
			a:hover{    
                color:$color-Black;
                background-color:$color-LightGrey;
				border-bottom: none;
            }
        }
        span:hover {
            border-color: $color-Grey
        }
    }
    .dz-preview.dz-file-preview,
    .dz-preview{
        .dz-image {
            border-radius: 0px;
        }
    }
    .dz-preview{
		position: relative;
		margin: 15px;
        .dz-image {
            border: 1px solid $color-LightGrey;
			width: auto;
			height: auto;
			img{
				border: none;
			}
        }
		.btn-remove{
			position: absolute;
			bottom: -10px;
			left: 0px;
			z-index: 20;
			width: 100%;
		}
    }
    .dz-previews-container {
        margin: 0;
    }
    .dz-complete .dz-image img {
        background: transparent
    }
	.dz-preview.dz-error .dz-image {
        border-color: red
    }
	.dz-preview .dz-error-message{
		top:auto;
		bottom: -80px;
		left: 0;
		width: 136px;
	}
}